.icon {
  padding: 10px;
  color: green;
  min-width: 50px;
  text-align: center;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.itemTimeContainer {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}
.itemTime {
  text-decoration: none;
  color: black;
}
.cardBox {
  width: 25%;
  height: 20%;
  background-color: #ffffff;
  min-width: 200px;
  border: none;
}
input[type="radio"]:checked+label{ font-weight: bold; } 


.activeBtn {
  background-color: antiquewhite;
  font-weight: bold;
}
.activeBtn:hover {
  background-color: antiquewhite
}
.activeBtnUserTime{
  font-weight: bold; 
  color: rgb(172, 132, 132);

}
